In [ ]:
# A3:
#Questão 1:

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [31]:
df = pd.read_csv('../datasets/pib_per_capita/GDP.csv')

In [23]:
df

,Country,Region,Year,GDP_pp
0,Afghanistan,"Middle East, North Africa, and Greater Arabia",1/1/1901,613.99
1,Afghanistan,"Middle East, North Africa, and Greater Arabia",1/1/1906,624.04
2,Afghanistan,"Middle East, North Africa, and Greater Arabia",1/1/1911,634.25
3,Afghanistan,"Middle East, North Africa, and Greater Arabia",1/1/1916,647.28
4,Afghanistan,"Middle East, North Africa, and Greater Arabia",1/1/1921,662.40
...,...,...,...,...
4414,Zimbabwe,Sub-Saharan Africa,1/1/1991,782.09
4415,Zimbabwe,Sub-Saharan Africa,1/1/1996,781.50
4416,Zimbabwe,Sub-Saharan Africa,1/1/2001,719.96
4417,Zimbabwe,Sub-Saharan Africa,1/1/2006,520.17
4418,Zimbabwe,Sub-Saharan Africa,1/1/2011,526.33

In [9]:
# Removendo linhas duplicadas
# df.drop_duplicates(inplace=True)
# df

In [35]:
# Suponha que 'df' seja o seu DataFrame
df['Year'] = pd.to_datetime(df['Year'])
df['Year'] = df['Year'].dt.year
type(df['Year'][0])

numpy.int32

In [36]:
df = pd.DataFrame({
    'ANO': [1901, 2025]
})

# Encontre o ano mínimo e máximo no DataFrame
ano_minimo = df['ANO'].min()
ano_maximo = df['ANO'].max()

# Crie uma lista com os anos preenchidos em intervalos de 5 anos
anos_preenchidos = list(range(ano_minimo, ano_maximo + 1, 5))

# Crie um novo DataFrame com os anos preenchidos
df_preenchido = pd.DataFrame({'ano': anos_preenchidos})

# Mescla os DataFrames originais e preenchidos
df_final = pd.concat([df, df_preenchido], ignore_index=True)

print(df_final)

       ANO     ano
0   1901.0     NaN
1   2025.0     NaN
2      NaN  1901.0
3      NaN  1906.0
4      NaN  1911.0
5      NaN  1916.0
6      NaN  1921.0
7      NaN  1926.0
8      NaN  1931.0
9      NaN  1936.0
10     NaN  1941.0
11     NaN  1946.0
12     NaN  1951.0
13     NaN  1956.0
14     NaN  1961.0
15     NaN  1966.0
16     NaN  1971.0
17     NaN  1976.0
18     NaN  1981.0
19     NaN  1986.0
20     NaN  1991.0
21     NaN  1996.0
22     NaN  2001.0
23     NaN  2006.0
24     NaN  2011.0
25     NaN  2016.0
26     NaN  2021.0

In [37]:
def interpolate_values(value1, value2, num_points):
    """
    Interpolates values between value1 and value2.
    Calculates the average, divides by 5, and returns interpolated values.
    """
    # Calculate the average between value1 and value2
    average = (value1 + value2) / 2

    # Divide the average by 5
    step = average / 5

    # Generate interpolated values
    interpolated_values = []
    for i in range(1, num_points + 1):
        interpolated_values.append(value1 + i * step)

    return interpolated_values

# Example usage
value1 = 10
value2 = 30
num_points = 5

interpolated_values = interpolate_values(value1, value2, num_points)
print("Interpolated values:", interpolated_values)

Interpolated values: [14.0, 18.0, 22.0, 26.0, 30.0]