In [1]:
# Importando todas as bibliotecas necessárias para o projeto
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Lendo todos os DataSets com pandas
df_obesidade = pd.read_csv('./datasets/obesidade/obesity-cleaned.csv', sep=',', index_col=0)
df_pib_per_capita = pd.read_csv('./datasets/pib_per_capita/GDP.csv', sep=',')

## Limpando DataFrame de obesidade

In [22]:
# Criando um copia do DataFrame para melhor desempenho
df_obesidade_copia = df_obesidade.copy()

# Tratando coluna ['Obesity (%)'], onde excluir dados vazios
df_obesidade_copia = df_obesidade_copia.loc[df_obesidade_copia['Obesity (%)'] != 'No data']
# Criando uma coluna ['Obesity'] com os dados de obesidade convertidos para float (%)
df_obesidade_copia['Obesity'] = df_obesidade_copia['Obesity (%)'].apply(lambda x: float(x.split(' ')[0]))
# Apagando coluna ['Obesity (%)'] que ja foi tratada
df_obesidade_copia = df_obesidade_copia.drop(columns=['Obesity (%)'])
# Renomeando Colunas para o português
df_obesidade_copia.rename(columns={'Country': 'Paises',
                                   'Year': 'Ano',
                                   'Sex': 'Sexo',
                                   'Obesity': 'Obesidade'}, inplace=True)
df_obesidade_copia

            Paises   Ano        Sexo  Obesidade
0      Afghanistan  1975  Both sexes        0.5
1      Afghanistan  1975        Male        0.2
2      Afghanistan  1975      Female        0.8
3      Afghanistan  1976  Both sexes        0.5
4      Afghanistan  1976        Male        0.2
...            ...   ...         ...        ...
24565     Zimbabwe  2015        Male        4.5
24566     Zimbabwe  2015      Female       24.8
24567     Zimbabwe  2016  Both sexes       15.5
24568     Zimbabwe  2016        Male        4.7
24569     Zimbabwe  2016      Female       25.3

[24066 rows x 4 columns]

 ## Comparando a taxa de obesidade por sexo

In [31]:
# Filtrando a média de obesidade por sexo e arredondando
obesidade_media_por_sexo = df_obesidade_copia.groupby('Sexo')['Obesidade'].mean().round(2)
print(obesidade_media_por_sexo)
homem = obesidade_media_por_sexo['Male']
mulher = obesidade_media_por_sexo['Female']


# Printando resultados
print(f'Média de obesidade entre homens: {homem}%')
print(f'Média de obesidade entre homens: {mulher}%')

Sexo
Both sexes    12.48
Female        15.53
Male           9.33
Name: Obesidade, dtype: float64
Média de obesidade entre homens: 9.33%
Média de obesidade entre homens: 15.53%