In [ ]:
# A3:
#Questão 1:

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [6]:
df = pd.read_csv('GDP.csv')

In [17]:
print(df)

          Country                                         Region       Year  \
0     Afghanistan  Middle East, North Africa, and Greater Arabia 1901-01-01
1     Afghanistan  Middle East, North Africa, and Greater Arabia 1906-01-01
2     Afghanistan  Middle East, North Africa, and Greater Arabia 1911-01-01
3     Afghanistan  Middle East, North Africa, and Greater Arabia 1916-01-01
4     Afghanistan  Middle East, North Africa, and Greater Arabia 1921-01-01
...           ...                                            ...        ...
4414     Zimbabwe                             Sub-Saharan Africa 1991-01-01
4415     Zimbabwe                             Sub-Saharan Africa 1996-01-01
4416     Zimbabwe                             Sub-Saharan Africa 2001-01-01
4417     Zimbabwe                             Sub-Saharan Africa 2006-01-01
4418     Zimbabwe                             Sub-Saharan Africa 2011-01-01

       GDP_pp    ANO
0      613.99   1901
1      624.04   1906
2      634.25   1911
3      647.28   1916
4      662.40   1921
...        ...   ...
4414   782.09   1991
4415   781.50   1996
4416   719.96   2001
4417   520.17   2006
4418   526.33   2011

[4419 rows x 5 columns]

In [8]:
# Removendo linhas duplicadas
df.drop_duplicates(inplace=True)

In [16]:
# Suponha que 'df' seja o seu DataFrame
df['Year'] = pd.to_datetime(df['Year'], format='%d/%m/%Y')
df['ANO'] = df['Year'].dt.year
print(df)

          Country                                         Region       Year  \
0     Afghanistan  Middle East, North Africa, and Greater Arabia 1901-01-01
1     Afghanistan  Middle East, North Africa, and Greater Arabia 1906-01-01
2     Afghanistan  Middle East, North Africa, and Greater Arabia 1911-01-01
3     Afghanistan  Middle East, North Africa, and Greater Arabia 1916-01-01
4     Afghanistan  Middle East, North Africa, and Greater Arabia 1921-01-01
...           ...                                            ...        ...
4414     Zimbabwe                             Sub-Saharan Africa 1991-01-01
4415     Zimbabwe                             Sub-Saharan Africa 1996-01-01
4416     Zimbabwe                             Sub-Saharan Africa 2001-01-01
4417     Zimbabwe                             Sub-Saharan Africa 2006-01-01
4418     Zimbabwe                             Sub-Saharan Africa 2011-01-01

       GDP_pp    ANO
0      613.99   1901
1      624.04   1906
2      634.25   1911
3      647.28   1916
4      662.40   1921
...        ...   ...
4414   782.09   1991
4415   781.50   1996
4416   719.96   2001
4417   520.17   2006
4418   526.33   2011

[4419 rows x 5 columns]

In [19]:
df = pd.DataFrame({
    'ANO': [1901, 2025]
})

# Encontre o ano mínimo e máximo no DataFrame
ano_minimo = df['ANO'].min()
ano_maximo = df['ANO'].max()

# Crie uma lista com os anos preenchidos em intervalos de 5 anos
anos_preenchidos = list(range(ano_minimo, ano_maximo + 1, 5))

# Crie um novo DataFrame com os anos preenchidos
df_preenchido = pd.DataFrame({'ano': anos_preenchidos})

# Mescla os DataFrames originais e preenchidos
df_final = pd.concat([df, df_preenchido], ignore_index=True)

print(df_final)

       ANO     ano
0   1901.0     NaN
1   2025.0     NaN
2      NaN  1901.0
3      NaN  1906.0
4      NaN  1911.0
5      NaN  1916.0
6      NaN  1921.0
7      NaN  1926.0
8      NaN  1931.0
9      NaN  1936.0
10     NaN  1941.0
11     NaN  1946.0
12     NaN  1951.0
13     NaN  1956.0
14     NaN  1961.0
15     NaN  1966.0
16     NaN  1971.0
17     NaN  1976.0
18     NaN  1981.0
19     NaN  1986.0
20     NaN  1991.0
21     NaN  1996.0
22     NaN  2001.0
23     NaN  2006.0
24     NaN  2011.0
25     NaN  2016.0
26     NaN  2021.0

In [20]:
def interpolate_values(value1, value2, num_points):
    """
    Interpolates values between value1 and value2.
    Calculates the average, divides by 5, and returns interpolated values.
    """
    # Calculate the average between value1 and value2
    average = (value1 + value2) / 2

    # Divide the average by 5
    step = average / 5

    # Generate interpolated values
    interpolated_values = []
    for i in range(1, num_points + 1):
        interpolated_values.append(value1 + i * step)

    return interpolated_values

# Example usage
value1 = 10
value2 = 30
num_points = 5

interpolated_values = interpolate_values(value1, value2, num_points)
print("Interpolated values:", interpolated_values)

Interpolated values: [14.0, 18.0, 22.0, 26.0, 30.0]